<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Pricing charts</h4>

                    </div>
                    <div class="col">
                        <select class="browser-default custom-select">
                            <option selected>All namespaces</option>
                            <option *ngFor="let i of collection" (click)="applyDateFilter(i.namespace)">{{i.namespace}}
                            </option>

                        </select>
                        <div class="form-check" padding-right="100px">

                            <input class="form-check-input" (click)="CpuPricePerUnit()" type="radio" name="exampleRadios"
                                id="exampleRadios11" value="option11" checked>
                            <label class="form-check-label" for="exampleRadios11">
                                Prices Per Unit : 
                            </label>
                        </div>
                    <div>
                        aksCPUprice : {{aksCPUprices}} €
                        <br>
                        aksRamprice: {{aksRamprices}} €
                    </div>
                    </div>
                    <div class="header">
                        <h4 class="title">CPU Pricing per namespace</h4>

                    </div>
                    <div class="content">
                        <div>
                            <canvas id="price" style="width: 1000px; display: block; height: 250px;"> {{chart}}</canvas>
                        </div>
                    </div>
                    <div class="header">
                        <h4 class="title">RAM Pricing per namespace</h4>

                    </div>
                    <div class="content">
                        <div>
                            <canvas id="priceRam" style="width: 1000px; display: block; height: 250px;"> {{chart}}</canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>