<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Clusters Infos</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="datatables" class="table table-hover table-striped">
                            <thead style="overflow: auto; width: 100%;">
                                <tr>
                                    <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData1.dataRows">
                                    <td> {{ row.__name__}}</td>
                                    <td>{{ row.endpoint}}</td>
                                    <td>{{ row.instance}}</td>
                                    <td>{{ row.job}}</td>
                                    <td>{{ row.label_agentpool}}</td>
                                    <td>{{ row.label_beta_kubernetes_io_arch}}</td>
                                    <td>{{ row.label_beta_kubernetes_io_instance_type}}</td>
                                    <td>{{ row.label_beta_kubernetes_io_os}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="header">
                        <h4 class="title">Pricing on Azure</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="datatables1" class="table table-hover table-striped">
                            <thead style="overflow: auto; width: 100%;">
                                <tr>
                                    <th *ngFor="let cell of tableData2.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData2.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="datatables2" class="table table-hover table-striped">
                            <thead style="overflow: auto; width: 100%;">
                                <tr>
                                    <th *ngFor="let cell of tableData3.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData3.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>


                                </tr>
                            </tbody>
                        </table>


                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="datatables2" class="table table-hover table-striped">
                            <thead style="overflow: auto; width: 100%;">
                                <tr>
                                    <th *ngFor="let cell of tableData4.headerRow">{{ cell }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData4.dataRows">
                                    <td *ngFor="let cell of row">{{cell}}</td>


                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>