<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="header">
                <h4 class="title">Instance cost</h4>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Compute (D4s v3)</h4>
                    </div>
                    <div class="content">
                        <form id="form">
                            <div class="form-check">

                                <input class="form-check-input" (click)="PayAsYouGo()" type="radio" name="exampleRadios"
                                    id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Pay as you go
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" (click)="ApplyDiscount36()" type="radio"
                                    name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    1 year reserved (~36% discount)
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" (click)="ApplyDiscount56()" type="radio"
                                    name="exampleRadios" id="exampleRadios3" value="option3">
                                <label class="form-check-label" for="exampleRadios3">
                                    3 year reserved (~56% discount)
                                </label>
                            </div>
                            <div *ngIf="price" class="total">

                                Price: €{{ prices}}
                            </div>

                        </form>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h4 class="title">OS (Windows)</h4>
                        </div>
                        <div class="content">
                            <div class="form-check">
                                <input class="form-check-input" (click)="License()" type="radio" name="exampleRadios"
                                    id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    License included
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" (click)="AzureHybridBenefit()" type="radio"
                                    name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Azure Hybrid benefit (free)
                                </label>
                            </div>
                            <div class="total">
                                <div class="total">

                                    Price: €{{ pricess}}
                                </div>
                            </div>
                        </div>
                        <div class="header">
                            <h4 class="title">Monthly cost</h4>
                        </div>
                        <div class="content">
                            <div class="total" [(ngModel)]="total1">
                                Monthly total : € {{total1}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="header">
            <h4 class="title">Aks cost</h4>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Compute (D4s v3)</h4>
                </div>
                <div class="content">
                    <form id="form">
                        <div class="form-check">

                            <input class="form-check-input" (click)="PayAsYouGoAks()" type="radio" name="exampleRadios"
                                id="exampleRadios11" value="option11" checked>
                            <label class="form-check-label" for="exampleRadios11">
                                Pay as you go
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" (click)="ApplyDiscount36Aks()" type="radio"
                                name="exampleRadios" id="exampleRadios22" value="option22">
                            <label class="form-check-label" for="exampleRadios22">
                                1 year reserved (~36% discount)
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" (click)="ApplyDiscount56Aks()" type="radio"
                                name="exampleRadios" id="exampleRadios33" value="option33">
                            <label class="form-check-label" for="exampleRadios33">
                                3 year reserved (~56% discount)
                            </label>
                        </div>
                        <div class="total">

                            Price: €{{ aksprices}}

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>