<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <select class="browser-default custom-select">
                    <option selected>All namespaces</option>
                    <option *ngFor="let i of collection" (click)="applyDateFilter(i.namespace)">{{i.namespace}}</option>

                </select>
            </div>

            <br>
            <br>
            <br>
            <h4>CPU usage</h4>
            <br>
            <br>
            <br>
            <div>
                <canvas id="canvas" style="width: 1000px; display: block; height: 250px;">{{chart}}</canvas>
            </div>
            <br>
            <br>
            <br>
            <h4>Memory usage</h4>
            <div>
                <canvas id="ram" style="width: 1000px; display: block; height: 250px;">{{chart}}</canvas>
            </div>
            <br>
            <br>
            <br>       
        </div>
    </div>