<footer class="footer">
    <div class="container-fluid">
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a href="#">Advyteam</a>
        </p>
    </div>
</footer>
